/* RESET CSS BY ERIC MEYER */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* GENERAL */
:root {
  --very-dark-magneta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-gray-magneta: hsl(303, 10%, 53%);
  --light-gray-magneta: hsl(300, 24%, 96%);
}

body {
  box-sizing: border-box;
  padding: 0 1.5rem;
  font-family: Spartan, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

* {
  box-sizing: inherit;
}


/* HEADER */
header {
  margin: 5rem 0 50px;
  text-align: center;
}

h1 {
  width: 300px;
  max-width: 100%;
  margin: 0 auto 1.2rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  color: var(--very-dark-magneta);
}

h2 {
  width: 100%;
  max-width: 25rem;
  margin: auto;
  font-size: .875rem;
  font-weight: 500;
  color: var(--dark-gray-magneta);
}


/* STAR REVIEWS */
.star-reviews {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.star-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 25rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
  margin-bottom: .675rem;
  background-color: var(--light-gray-magneta);
  border-radius: .5rem;
}

.star-review img {
  margin: 0 2px;
}

.star-review p {
  margin-top: .5rem;
  font-size: .8125rem;
  font-weight: 700;
  color: var(--very-dark-magneta);
}


/* USER REVIEWS */
.user-reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
}

.user-review {
  width: 100%;
  max-width: 28.25rem;
  padding: 2.2rem;
  margin: auto;
  border-radius: .5rem;
  background-color: var(--very-dark-magneta);
  color: #fff;
}

.user-info {
  display: flex;
  margin-bottom: 1.5rem;
  font-size: .8125rem;
}

.user-info img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1.2rem;
}

.user-name { font-weight: 700; }
.user-status {
  font-weight: 400;
  color: var(--soft-pink);
}

.review {
  line-height: 1.75;
  font-size: .8125rem;
}


/* FOOTER */
footer {
  margin-bottom: 1rem;
}

.attribution {
  font-size: .8125rem;
  text-align: center;
}

.attribution a {
  color: var(--very-dark-magneta);
  font-weight: 700;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}


/* RESPONSIVE */
@media screen and (min-width: 48rem) {
  body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  }

  header {
    width: 34rem;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 3rem;
    width: 100%;
  }

  h2 {
    font-size: 1.125rem;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 78.125rem) {
  body {
    padding: 0; 
  }

  .wrapper {
    display: flex;
    width: fit-content;
    margin: 10vw auto 4.86vw;
  }

  header {
    width: 27rem;
    margin: 0;
    margin-right: 9.4rem;
    text-align: left;
  }

  h1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    max-width: 100%;
  }

  .star-reviews {
    margin: 0;
  }

  .star-review {
    width: 25rem;
    margin: 0;
    flex-direction: row;
    gap: 2rem;
  }

  .star-review p {
    margin: 0;
  }

  .star-review:nth-child(2) {
    margin-left: 2.5rem;
  }

  .star-review:nth-child(3) {
    margin-left: 5rem;
  }

  .user-reviews {
    width: fit-content;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .user-review {
    width: 21.25rem;
    height: 15rem;
    margin: 0;
  }

  .user-review:nth-child(2) { margin-top: 1.25rem; }
  .user-review:nth-child(3) { margin-top: 2.5rem; }
}